.flex-container{
    display: flex;
    padding-top: 10px;
    width: 250px;
    justify-content: space-between;

}
#confirm-country{
    display: none;

}
#ans-country{
    display: none;
}

#confirm-city{
    display: none;

}
#ans-city{
    display: none;
}
#confirm-village{
    display: none;

}
#ans-village{
    display: none;
}
#confirm-mountain{
    display: none;

}
#ans-mountain{
    display: none;
}
#confirm-river{
    display: none;

}
#ans-river{
    display: none;
}
#confirmList{
    position: relative;
    top: 20px;
}
#kontenjer2{
    display:none;
}

